form{
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: darkviolet;
}
.input-style{
    width: 75%;
    padding: 10px 12px;
    box-sizing: border-box;
    margin: 9px;
}
.other inputs{
  margin: 9px;
}
#buttonthe{
    background-color: bisque;
    color: brown;
    padding: 5px 5px;
    width: 40%;
}